a {
  color: black;
}
a:hover {
  background-color: #dedede;
  transition: 0.4s;
}
.nav-link .active {
  background-color: black;
}
.nav-link .active:hover {
  background-color: black;
}

a{
  border-radius: 50px;
  padding: 9px;
  color: black;
}
.iconn:hover {
  background-color: #dedede;
  border-radius: 50px;
}
