html {
  height: 100%;
}
body {
  min-height: 100%;
}
footer {
  color:black;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: white;
  text-align: center;
}
